[submodule "submodules/libgee"]
	path = submodules/libgee
	url = git://git.gnome.org/libgee
[submodule "submodules/catapult"]
	path = submodules/catapult
	url = https://github.com/nuhrin/catapult.git
[submodule "submodules/pandora-glib"]
	path = submodules/pandora-glib
	url = https://github.com/nuhrin/pandora-glib.git
